<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" href="/static/img/metamask-fox.svg"/>
    <meta charset="UTF-8">
    <title>Dapp</title>
</head>
<body>
<button class="enableEthereumButton">Enable Ethereum</button>
<h2>Account: <span class="showAccount"></span></h2>
<h2>Network: <span class="showNetwork"></span></h2>
<h2 style="color: red">Please keep your network at Sepolia!</h2>
<script src="/static/js/jquery-3.6.4.min.js"></script>
<script type="module">
    if (typeof window.ethereum == 'undefined') {
        alert('MetaMask is installed, Please install MetaMask Extension firstly.');
    } else {
        $(".enableEthereumButton").click(async () => {
            let accounts = await ethereum.request({method: 'eth_requestAccounts'});
            let chainId = await ethereum.request({method: 'eth_chainId'});
            if (chainId !== '0xaa36a7') {
                alert("Please set you network to Sepolia!");
                return
            }
            $('.showNetwork').text('Sepolia');
            $('.showAccount').text(accounts[0]);
        })

        // Events
        ethereum.on('accountsChanged', function (accounts) {
            $(".showAccount").text(accounts[0]);
        });
        ethereum.on('chainChanged', () => {
            window.location.reload();
        });
    }
</script>
</body>
</html>